<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home') }}">WorkoutWizard</a>
		<div class='d-flex'>

			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<div class="navbar-nav me-auto">
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">mon compte</a>
						<div class="dropdown-menu">
							<a class="dropdown-item"  href="{{ path('editUser', {'id': app.user.id}) }}">Mon profil</a>
							<a class="dropdown-item" href="#">Mes programmes</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ path('logout') }}">Deconnexion</a>
						</div>
					</div>
				</div>	
			{% else %}
				<div class="navbar-nav me-auto">
					<div class='nav-item'>
						<a class="nav-link" href="{{ path('register') }}">Inscription</a>
					</div>
				</div>
				<div class="navbar-nav me-auto">
					<button type="button" class="btn btn-dark" onclick="window.location.href ='{{ path('login') }}';">Connexion</button>
				</div>
			{% endif %}

		</div>
	</div>
</nav>
