{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <div class="container mt-4">
    <h1>{{ seance.getNom() }}</h1>

    <div class="seance-details">
        <!-- Affichage de l'image si disponible -->
        {% if seance.getImageName() %}
            <img class="seance-image" src="{{ asset(seance.getImagePath()) }}" alt="{{ seance.getNom() }}" style="max-width: 300px; height: auto;">
        {% endif %}

        <!-- Tableau des détails de la séance -->
        <table class="table">
            <tbody>
            <h2>Détail du Programme</h2>
                <tr>
                    <th>Niveau</th>
                    <td>{{ seance.niveau() }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ seance.categorie() }}</td>
                </tr>
            </tbody>
        </table>

        <!-- Affichage des exercices associés -->
        <h2>Exercices associés</h2>
        <ul>
            {% for ordreExercice in seance.getOrdreExercices() %}
    <li><a href="{{ path('app_exercice_show', {'id': ordreExercice.getExercice().getId()}) }}">{{ ordreExercice.getExercice().getNom() }}</a></li>
{% endfor %}
        </ul>
    </div>

    <a href="{{ path('app_seance_index') }}">Retour à la liste des séances</a>
     
</div>

{% endblock %}
