{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>{{ programme.nomProgramme }}</h1>

<div class="program-details">
    <img class="program-image" src="{{ asset(programme.imagePath) }}" alt="{{ programme.nomProgramme }}">

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du Programme</th>
                <td>{{ programme.nomProgramme }}</td>
            </tr>
            <tr>
                <th>Halteres</th>
                <td>{{ programme.halteres ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Séances associées</h2>
    <ul>
        {% for seance in programme.getSeances() %}
            <li><a href="{{ path('app_seance_show', {'id': seance.getId()}) }}">{{ seance.getNom() }} </a></li>
        {% endfor %}
    </ul>
</div>

<a href="{{ path('home') }}">Retour à l'accueil</a>
</div>
    {#<a href="{{ path('app_programme_edit', {'id': programme.id}) }}">edit</a>

    {{ include('pages/programme/_delete_form.html.twig') }}#}
{% endblock %}
