{% extends 'base.html.twig' %}

{% block title %}Exercice{% endblock %}

{% block body %}
    <div class="container mt-4">
    <h1>{{ exercice.nom }}</h1>

    <div class="container">
        <p>Description: {{ exercice.description }}</p>
        <iframe width= "600" height= "350"src="{{ exercice.video }}" frameborder="0" allow="picture-in-picture" allowfullscreen></iframe>

        <h2>Catégories associées</h2>
        <ul>
            {% for categorieExercice in exercice.getCategorieExercices() %}
                <li>{{ categorieExercice.getCategorie().getNom() }}</li>
            {% endfor %}
        </ul>
    </div>

    <a href="{{ path('home') }}">Retour à l'accueil</a>
</div>
{% endblock %}
